/* geral -------------------------------------------- */

@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;   
}

html {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

/* animacao ----------------------------------------- */

.animado-direita {
    opacity: 0;
    animation: slider-direita 800ms ease-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.animado-esquerda {
    opacity: 0;
    animation: slider-esquerda 800ms ease-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.animado-cima {
    opacity: 0;
    animation: slider-cima 800ms ease-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;

}

@keyframes slider-direita {
    0% {
        opacity: 0;
        transform: translate(-15%, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes slider-esquerda {
    0% {
        opacity: 0;
        transform: translate(15%, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes slider-cima {
    0% {
        opacity: 0;
        transform: translate(0, -15%);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

/* grid --------------------------------------------- */

.reserva {
    display: grid;
    grid-template-columns: 7.5% 85% 7.5%;
    grid-template-rows: 30px;
    grid-template-areas: ". conteudo-reserva .";
    align-items: center;
    background-color: rgb(245, 245, 245);
}

.conteudo-reserva {
    grid-area: conteudo-reserva;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "conteudo-cabecalho"; 
}

.conteudo-cabecalho {
    display: flex;
    justify-content: center;
    grid-area: conteudo-cabecalho;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), transparent 150px);
}

.sobre {
    display: grid;
    grid-template-columns: 7.5% 85% 7.5%;
    grid-template-areas: ". conteudo-sobre .";
    position: relative;
    background-image: url(../imagens/fotos/fachada-diurna.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.sobre::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.95); 
}

.conteudo-sobre {
    grid-area: conteudo-sobre;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 150px 0 150px 0;
    z-index: 1;
}

.promocoes {
    display: grid;
    grid-template-columns: 7.5% 85% 7.5%;
    grid-template-areas: ". conteudo-promocoes .";
}

.conteudo-promocoes {
    grid-area: conteudo-promocoes;
    margin: 50px 0;
    background-color: rgb(255, 255, 255);
}

.depoimentos {
    display: grid;
    grid-template-columns: 7.5% 85% 7.5%;
    grid-template-areas: ". conteudo-depoimentos .";
    position: relative;
    background-image: url(../imagens/fotos/fachada-noturna.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.depoimentos::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
}

.conteudo-depoimentos {
    grid-area: conteudo-depoimentos;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 150px 0 150px 0;
    z-index: 1;
}

.rodape {
    display: grid;
    grid-template-columns: 7.5% 85% 7.5%;
    grid-template-areas: ". conteudo-rodape .";
    background-color: rgba(25, 25, 25);
}

.conteudo-rodape {
    grid-area: conteudo-rodape;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 80px 0 20px 0;
}

.copyright {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 65px;
    grid-template-areas: "conteudo-copyright";
    justify-items: center;
    align-items: center;
    background-color: rgba(25, 25, 25);
}

.conteudo-copyright {
    grid-area: conteudo-copyright;
}

/* reserva ------------------------------------------ */

.texto-reserva {
    font-size: 0.875rem;
    font-weight: 400;
    color: rgb(105, 105, 105);
}

.texto-reserva-destaque {
    font-size: 0.875rem;
    font-weight: 800;
    color: rgb(105, 105, 105);
}

.conteudo-reserva-bandeira {
    height: 30px;
    margin: 0 5px;
}

.bandeira-desativada {
    filter: grayscale(1);
}

/* cabecalho ---------------------------------------- */

.conteudo-cabecalho-menu {
    position: absolute;
    width: 85%;
    display: flex;
    align-items: flex-end;
    margin: 10px 0 0 0;
    z-index: 1;
}

.conteudo-cabecalho-menu-redes {
    position: fixed;
    list-style: none;
    top: calc(50% - 100px);
    left: 20px;
    z-index: 1;
}

.conteudo-cabecalho-menu-logo {
    flex-basis: 380px;
}

.conteudo-cabecalho-menu-esquerdo {
    flex-basis: calc(50% - 190px);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    list-style: none;
}

.conteudo-cabecalho-menu-esquerdo li {
    float: left;
    padding: 0 10px 20px 10px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent transparent rgba(255, 255, 255, 0.25) transparent;
    cursor: pointer;
}

.conteudo-cabecalho-menu-esquerdo li:hover {
    border-width: 2px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
}

.conteudo-cabecalho-menu-direito {
    flex-basis: calc(50% - 190px);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    list-style: none;    
}

.conteudo-cabecalho-menu-direito li {
    float: right;
    padding: 0 10px 20px 10px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent transparent rgba(255, 255, 255, 0.25) transparent;
    cursor: pointer;
}

.conteudo-cabecalho-menu-direito li:hover {
    border-width: 2px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
}

.conteudo-cabecalho-banner {
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 195px 0 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    
}

.conteudo-cabecalho-banner::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.texto-cabecalho-titulo {
    font-size: 3.75rem;
    font-weight: 600;
    font-style: italic;
    line-height: 3.75rem;
    text-align: center;
    color: rgb(255, 255, 255);
}

.texto-cabecalho {
    padding: 20px 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
    color: rgb(210, 210, 210);
}

/* sobre --------------------------------------------- */

.conteudo-sobre-primeira {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-sobre-segunda {
    flex-basis: 40%;
}

.texto-sobre-titulo {
    font-size: 2.25rem;
    font-weight: 600;
    font-style: italic;
    line-height: 2.25rem;
    text-align: center;
    color: rgb(50, 50, 50);
}

.texto-sobre {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
    color: rgb(105, 105, 105);
    margin: 30px 0;
}

.button {
    width: 200px;
    height: 50px;
    margin: 5px;
    border: 2px solid rgb(0, 165, 225);
    font-size: 1.125rem;
}

.button-azul {
    background-color: rgb(0, 165, 225);
    color: rgb(255, 255, 255);
}

.button-branco {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 165, 225);
}

.conteudo-sobre-video {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* promocoes ---------------------------------------- */

.conteudo-promocoes-secao {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.conteudo-promocoes-titulo {
    font-size: 2.75rem;
    font-weight: 800;
    text-transform: uppercase;
    color: rgb(120, 175, 60);
}

.conteudo-promocoes-linha {
    margin: 15px 0 45px 0;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(120, 175, 60) transparent transparent transparent;
}

.conteudo-promocoes-cartao {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 22.5%;
    padding: 25px;
    margin: 15px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.conteudo-promocoes-foto {
    width: 100%;
}

.texto-promocoes-titulo {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.65rem;
    color: rgb(50, 50, 50);
    margin: 25px 0 0 0;
}

.texto-promocoes {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.35rem;
    color: rgb(50, 50, 50);
    margin: 10px 0 0 0;
}

.button-promocoes {
    align-self: center;
    width: 155px;
    height: 40px;
    margin: 20px 0 0 0;
    border: none;
    background-color: rgb(120, 175, 60);
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

/* depoimentos -------------------------------------- */

.conteudo-depoimentos-secao {
    flex-basis: 45%;
    padding: 20px 0;
}

.conteudo-depoimentos-aspas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.texto-depoimentos-email-titulo {
    margin: 0 0 10px 0;
    font-size: 2.25rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.texto-depoimentos-email {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.65rem;
    color: rgb(185, 185, 185);
    margin: 0 0 65px 0;
}

.texto-depoimentos {
    display: none;
    align-items: center;
    flex-basis: 80%;
    position: relative;
    padding: 30px 90px;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    line-height: 1.5rem;
    color: rgb(185, 185, 185);
    background-color: rgba(255, 255, 255, 0.15);
}

.texto-depoimentos::before {
    position: absolute;
    top: 50px;
    left: 10px;
    content: "\275D";
    font-size: 8rem;
    font-style: normal;
    color: rgb(255, 255, 255);
}

.texto-depoimentos::after {
    position: absolute;
    bottom: 0px;
    right: 10px;
    content: "\275E";
    font-size: 8rem;
    font-style: normal;
    color: rgb(255, 255, 255);
}

.conteudo-depoimentos-indicadores {
    flex-basis: 60%;
    text-align: center;
    padding: 30px 10px 0 10px;
}

.indicador {
    display: inline-block;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    border: 1px solid rgb(255, 255, 255);
}

.indicador:hover {
    background-color: rgb(255, 255, 255);
}

.indicador-ativo {
    background-color: rgb(255, 255, 255);
}

.input-depoimentos {
    width: calc(100% - 160px);
    height: 60px;
    padding: 0 0 0 30px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent transparent rgb(80, 180, 220) transparent;
    background-color: transparent;
    font-size: 1rem;
    color: rgb(80, 180, 220);
}

.input-depoimentos::placeholder {
    color: rgb(80, 180, 220);
}

.input-depoimentos:focus {
    outline: none;
}

.button-depoimentos {
    width: 120px;
    height: 60px;
    margin: 0 0 0 20px;
    border: 2px solid rgb(0, 165, 225);
    background-color: transparent;
    font-size: 1.125rem;
    color: rgb(0, 165, 225);
}

.fade {
    animation-name: fade;
    animation-duration: 800ms;
}

@keyframes fade {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

/* rodape ------------------------------------------- */

.conteudo-rodape-secao {
    flex-basis: 21.25%;
}

.conteudo-rodape-logo {
    align-self: center;
    padding: 20px 0 20px 0;
}

.texto-rodape-titulo {
    padding: 20px 0 10px 0;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(220, 220, 220);
}

.texto-rodape {
    padding: 0 0 20px 0;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgb(170, 170, 170);
}

.conteudo-rodape-icones {
    width: 40px;
}

/* copyright ---------------------------------------- */

.texto-copyright {
    font-size: 0.7rem;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    color: rgb(210, 210, 210);
}

.texto-copyright-destaque {
    font-size: 0.7rem;
    font-weight: 800;
    font-style: normal;
    color: rgb(255, 240, 0);
}

/* -------------------------------------------------- */

@media (max-width: 1480px) {
    html {
        font-size: 14px;
    }

    .conteudo-rodape-secao {
        flex-basis: 42.5%;
    }
}

@media (max-width: 1380px) {
    .conteudo-cabecalho-menu-esquerdo {
        display: none;
    }

    .conteudo-cabecalho-menu-direito {
        display: none;
    }
}

@media (max-width: 1280px) {
    .conteudo-promocoes-cartao {
        flex-basis: 30%;
    }
}


@media (max-width: 980px) {
    .conteudo-rodape-secao {
        flex-basis: 85%;
        text-align: center;
    }

    .conteudo-promocoes-cartao {
        flex-basis: 45%;
    }

    .conteudo-depoimentos-secao {
        flex-basis: 90%;
        text-align: center;
    }
}

@media (max-width: 680px) {
    .conteudo-promocoes-cartao {
        flex-basis: 90%;
    }
    
    .conteudo-cabecalho-menu-redes {
        display: none;
    }
}